* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  cursor: pointer;
}

.container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

header.main-header {
  height: 80px;
  line-height: 80px;
}

.logo #logo-img {
  margin: 0 30px 5px 0;
  width: 120px;
  vertical-align: middle;
}

.cat-select .cat-select-list {
  text-transform: uppercase;
}

.cat-select-list,
.main-nav-list,
.main-nav-list .dropdown-list {
  list-style: none;
}

.cat-select-list,
.main-nav-list {
  display: flex;
}

nav.main-nav {
  margin-left: auto;
}

.cat-select-list-item:not(:last-child),
.main-nav-list-item:not(:last-child) {
  margin-right: 40px;
}

a.cta-btn {
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  background-color: #EB008D;
  border-radius: 20px;
}

.cta a.cta-btn {
  margin-left: 30px;
}

nav.main-nav .main-nav-list li {
  position: relative;
}

.cat-select-list li,
.main-nav-list li {
  color: #888;
}

.cat-select-list li:hover,
.main-nav-list li:hover {
  color: #111;
}

.dropdown-list {
  display: none;
  white-space: nowrap;
  position: absolute;
  padding: 10px 15px;
  line-height: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

@media screen and (max-width: 1400px) {
  .container {
    padding: 0 20px;
    width: 100%;
  }
}
